<!--The content below is only a placeholder and can be replaced.-->
<html>

<head>
    <meta charset="utf-8">
    <title>Amwater Personal Assistant</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
  
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
</head>

<body>
    


</body>

</html>